# Dependencies
node_modules/

# Next.js
.next/
out/

# Env
.env
.env.local
.env.*.local

# Build / cache
dist/
*.tsbuildinfo

# IDE / OS
.DS_Store
*.log
.vscode/

# Prisma
prisma/*.db
prisma/*.db-journal
